.container {
  /*Display stuff*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*Box model stuff*/
  width: calc(100% - 200px * 2);
  height: 80px;
  padding: 0px 20px;
  background-color: rgba(0, 0, 0, 0);
  /*Miscellaneous*/
  gap: 20px;
}

.user {
  color: #ffffff;
}

.delete {
  height: 30px;
}

.delete:hover {
  cursor: pointer;
}

.linkContainer {
  /*Display stuff*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  width: 70%;
  /*Miscellaneous*/
  gap: 30px;
}

.link,
.link:link,
.link:visited,
.link:active {
  /*Typography stuff*/
  font-size: 1.1rem;
  text-decoration: none;
  color: #ffffff;
}

.link:hover {
  color: #274945;
}

.link:last-child {
  margin-left: auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
