.container {
  padding: 10px;
}

.loading {
  /*Display stuff*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*Box model stuff*/
  margin-top: 20%;
  /*Miscellaneous*/
  gap: 20px;
}
