.iconButton {
  /*Display stuff*/
  display: flex;
  flex-direction: row;
  align-items: center;
  /*Box model stuff*/
  width: 160px;
  height: 80px;
  padding: 5px;
  border: 5px solid #095d51;
  border-radius: 20px;
  background-color: #abc4a2;
  /*Miscellaneous*/
  gap: 10px;
  font-size: 12px;
}

.iconButton:hover {
  background-color: #deffd2;
}

.iconButton:active {
  scale: 0.98;
}

.iconButtonText {
  /*Box model stuff*/
  width: 50%;
  margin: 0px;
  /*Typography stuff*/
  font-size: 12px;
  font-weight: bold;
}

.iconButtonIcon {
  width: 50px;
  margin: 0px;
}

@media screen and (max-width: 1200px) {
  .iconButton {
    width: 80px;
    height: 80px;
  }

  .iconButtonText {
    display: none;
  }
}
